@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.log_in {
    height: 100vh;
    background-image: linear-gradient(rgb(118 101 244), rgb(180 170 253));
}

.main_top {
    border: 1px solid #e4e2e2;
    width: 38%;
    margin: auto;
    background: #ffffffde;
    padding: 40px 30px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 6px solid #7867f7;
}

.logo img {
    max-width: 130px;
}

.new_iocn img {
    margin-bottom: 15px;
    transition: 0.3s ease;
    position: absolute;
    top: 56px;
    WIDTH: 30PX;
    height: 30px;
}

div#product_supplier .select2-container {
    width: 210px !IMPORTANT;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.main_top input {
    height: 50px;
    border: 1px solid #cecaca;
    font-weight: 400;
    text-align: left;
    background: #f5f6f9 !IMPORTANT;
    position: relative;
    text-indent: 30px;
}

.main_top i {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 0;
    font-size: 20px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    background: #7867f7;
    text-align: center;
    line-height: 50px;
    border-radius: 5px 0px 0px 6px;
}

table.view_totals_table {
    width: 100%;
}

li.nav-hover a {
    background: #000 !IMPORTANT;
}

.custom-nav a.active i {
    color: white;
}

.form-inline .input-group {
    display: none;
}

.main_top button.btn.btn-primary {
    font-size: 17px;
    width: 100%;
    padding: 13px;
    text-align: center;
    background: #1a1a1a;
    border: 0;
}

a.btn.btn-link {
    padding: 10px 0px 20px 0px;
    color: #7867f7;
    font-weight: 500;
    width: 100%;
    text-align: right;
}

.main_top h2 {
    font-size: 22px;
    text-align: center;
    padding: 0;
    font-weight: bold;
    margin-bottom: -6px;
}

.card-header {
    background: #1a1a1a;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 6px 14px;
}

.dropdown-toggle::after {
    display: none !important
}

h5.user-name {
    margin: 0;
}

.custom-nav a.active {
    background: #000;
    color: #FFF;
}

@media(max-width: 767px) {
    .content-top-gap {
        margin-top: 0;
        padding: 20px;
    }
    .main_top {
        width: 100%;
    }
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

span.input-group-addon {
    width: 35px;
    HEIGHT: 38px;
    font-size: 13px;
    color: #ffffff;
    line-height: 38px !important;
    border-radius: 5px 0px 0px 5px;
    padding: 0px;
    margin: 0;
    background: #000;
    text-align: center;
    position: absolute;
    left: 0px;
    z-index: 99;
    display: none;
}

ul.nav.nav-tabs li {
    width: auto;
    margin-right: 7px;
}

ul.nav.nav-tabs .active {
    background: #f3f3f3;
    border-radius: 5px 5px 0px 0px;
}

ul.nav.nav-tabs li a {
    padding: 12px 26px;
    color: #000 !IMPORTANT;
}

li.home_active a {
    background: #f3f3f3;
    border-radius: 5px 5px 0px 0px;
}

a.toggle-btn .fa.fa-angle-double-right.menu-collapsed__right {
    opacity: 0;
}

.sidebar-menu-collapsed i.fa.fa-angle-double-right.menu-collapsed__right {
    opacity: 1;
}

.sidebar-menu-collapsed .logo-icon a {
    color: #fff;
}

.sidebar-menu-collapsed .custom-nav>li>a:hover i.fa {
    color: #ffffff !important;
}

span.product_name {
    line-height: 45px !important;
}

.close {
    color: #fff;
}

.view_totals_table td {
    text-align: center;
    vertical-align: middle;
}

.view_totals_table td {
    text-align: left;
    vertical-align: middle;
    padding: 10px 8px;
    font-size: 14px;
}

table.view_totals_table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.view_totals_row_table {
    margin: 0px 0px;
}

table.view_totals_table {
    border: 1px solid #ebebeb;
}

ul.show_hide li {
    display: inline-block;
    width: 30%;
}

a.toggle-btn {
    position: absolute;
    bottom: 0;
}

.statistics-grid .card {
    padding: 40px 12px !IMPORTANT;
}

.top-links {
    padding: 25px 10px;
    text-align: right;
    background-color: #fff
}

.top-links a {
    color: #000;
    padding: 10px 21px;
    text-decoration: none;
    font-size: 17px;
}

video {
    border: 4px solid #000;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 62px;
}

img.navbar-brand-regular {
    max-width: 213px;
}

.nav-bar {
    width: 100%;
}

section#home {
    height: 80vh;
    background-image: linear-gradient(to right, #3cb7d5, #1a8eab);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.welcome-intro h1 {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
}

.welcome-intro p {
    font-size: 14px;
    padding: 20px 0px;
    font-weight: 200;
    line-height: 21px;
    display: block;
}

.dash_img img {
    margin: auto;
    max-width: 72%;
    display: block;
    border: 6px solid #000;
    border-radius: 10px;
}

img.mob-right.wow.fadeInDown {
    border-radius: 10px;
}

.saaspik-icon-box-wrapper.style-eight:hover {
    background: #000;
    transition: .5s;
    cursor: pointer;
}

.saaspik-icon-box-wrapper.style-eight:hover p,
.saaspik-icon-box-wrapper.style-eight:hover a {
    color: #fff !IMPORTANT;
    text-decoration: none;
    transition: .5s;
}

.saaspik-icon-box-wrapper.style-eight {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 30px 50px 0px rgba(64, 24, 47, 0.08);
    text-align: center;
    padding: 40px 35px;
}

.featured-eight {
    background: #39b4d2;
    padding: 70px 0;
}

.welcome-intro span {
    font-weight: bold;
}

.copyright {
    text-align: center;
    padding: 20px;
    background: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.copyright p {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.banner.banner-six {
    position: relative;
    padding: 0px 0px 50px 0px;
    background: #fff;
    height: 100vh;
}

.pixsass-icon-box-content p {
    color: #807676;
    font-size: 16px;
}

.featured-eight p {
    font-size: 17px;
    color: #fff;
    padding: 20px 0px;
}

.login_page .top-links {
    text-align: right;
    float: right;
    width: 70%;
    background: transparent
}

.login_page .card-header {
    background: black;
    text-align: center;
    font-size: 30px;
}

.login_page .btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.call-to-action-three.action-padding {
    background: #f1f1f1;
    padding: 56px 0px;
}

.dash_img {
    padding: 70px 0;
}

.call-to-action-three.action-padding h2.title {
    color: #000;
    font-weight: bold;
    font-size: 31px;
    margin: 0;
}

.btn-big {
    background: black;
    padding: 10px 40px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
}

h3.pixsass-icon-box-title a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.full_page {
    font-family: 'Poppins', sans-serif;
}

.pixsass-icon-box-content p {
    color: #151313 !IMPORTANT;
    font-size: 16px;
    line-height: 28px;
}

h3.sub-title.wow.pixFadeUp {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.banner.banner-six .banne-content-wrapper-six {
    position: relative;
    z-index: 2;
    margin-top: 40px;
}

.banner.banner-six .banne-content-wrapper-six .sub-title {
    font-size: 70px;
    line-height: 50px;
    /*font-weight: 600;*/
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.banner.banner-six .banne-content-wrapper-six .banner-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner.banner-six .banne-content-wrapper-six p {
    margin-bottom: 40px;
    color: #797687;
    font-size: 16px;
    line-height: 28px;
}

span.dot-shape {
    display: block;
    position: absolute;
    bottom: -40px;
    left: -40px;
    z-index: -1;
    animation: wave 8s infinite linear;
}

.sub-title span {
    font-weight: bold;
    color: #39b4d2;
}

a.toggle-btn.new_btn {
    display: none;
}

.custom-nav svg {
    display: unset !IMPORTANT;
    float: left;
    width: 17px;
    height: 26px;
    position: relative;
    left: -7px;
    background: transparent !IMPORTANT;
}