@media only screen and (min-width:750px)and (max-width:1024px) {
    .top-links {
        width: 60% !IMPORTANT;
        float: unset !IMPORTANT;
    }
    .table thead th {
        font-size: 15px;
    }
    div#suppliers_table_mobile td:last-child {
        display: flex;
    }
    .suppliers_table_mobile td:last-child {
        display: flex;
    }
    div#suppliers_table_mobile form {
        margin-left: 10px;
    }
    .suppliers_table_mobile .download_order {
        margin-left: 10px;
    }
    .suppliers_table_mobile form {
        margin-left: 10px;
    }
    ul.nav.nav-tabs li a {
        padding: 6px 18px !important;
        font-size: 13px;
    }
    .quotes_new .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #order_pricing_home .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .well button {
        width: 40%;
    }
    .well a {
        width: 40%;
    }
    label.control-label {
        height: 50px;
    }
    #showHideModalLongnew .modal-dialog {
        max-width: 100% !important;
        margin-top: 50px;
    }
    button.close {
        opacity: 1;
    }
    table.view_totals_table {
        margin-bottom: 30px;
    }
    .swal-modal {
        vertical-align: unset !important;
    }
    input.form-control.order_documents {
        width: 200px !important;
    }
    input.form-control.quote_attachments {
        width: 200px !important;
    }
    .profile_img img {
        width: 30px !important;
        height: 30px !important;
    }
    .profile_details_left li a i {
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
    }
    .profile_details ul {
        margin: 0px !IMPORTANT;
        padding: 0;
    }
    .navbar.user-panel-top {
        padding-left: 0;
        padding: 11px 0px;
    }
    .nav>li>a {
        padding: 9px 19px !important;
        font-size: 13px !important;
        line-height: 60px;
    }
    .sticky-header .menu-right {
        margin-right: 5px;
        margin-top: 20px;
    }
    .custom-nav svg {
        bottom: -15px;
    }
    . .logo img {
        max-width: 97px !important;
    }
    .logo {
        padding: 0 15px 0px 6px !important;
        margin-top: 20px;
    }
    .custom-nav li .fa {
        font-size: 11px !important;
        width: 12px !important;
    }
    .sidebar-menu-inner {
        height: auto !important;
    }
    .sticky-header {
        top: -6px !important;
        background: transparent !important;
    }
}


/*@media screen and (min-width:768px) and (max-width:1024px)
    and (orientation : landscape){

    a.toggle-btn.new_btn {
        display: block !important;
    }

    a.toggle-btn {
        display: none !important;
    }
    }*/

@media(max-width: 500px) {
    div#shipping_pan {
        font-size: 12px !important;
    }
}

@media(max-width: 850px) {
    img.navbar-brand-regular {
        max-width: 100px !important;
    }
    .banner.banner-six .banne-content-wrapper-six .sub-title {
        font-size: 30px !important;
    }
    video {
        margin-top: 0 !important;
        width: 100%;
    }
    .header {
        height: auto !important;
    }
    .navbar-brand {
        float: left;
        padding-top: 0 !important;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        text-align: left !IMPORTANT;
        width: 50% !IMPORTANT;
    }
    .navbar-brand>img {
        display: unset !important;
    }
    .top-links {
        padding: 0px !IMPORTANT;
        text-align: unset important;
    }
    .navbar-brand {
        ;
        display: block;
        text-align: center;
        width: 100%;
    }
    .top-links a {
        color: #000;
        padding: 10px 15px !important;
        text-decoration: none;
        font-size: 17px !important;
    }
    .login_page .top-links {
        width: 100%;
        background: transparent;
        text-align: center;
        padding: 0px !important;
    }
    .table thead th {
        border-bottom: 1px solid #dee2e6 !important;
        font-size: 14px;
        font-weight: 800;
    }
    ul.nav.nav-tabs li a {
        font-size: 13px;
        padding: 7px 7px !important;
    }
    ul.nav.nav-tabs li {
        margin-right: 0;
    }
    div#suppliers_table_mobile td:last-child {
        display: flex;
    }
    .suppliers_table_mobile td:last-child {
        display: flex;
    }
    div#suppliers_table_mobile form {
        margin-left: 10px;
    }
    .suppliers_table_mobile .download_order {
        margin-left: 10px;
    }
    .suppliers_table_mobile form {
        margin-left: 10px;
    }
    .card-body {
        padding: 7px !important;
    }
    .supplercontactdiv .one {
        float: unset !important;
        margin-bottom: 20px;
    }
    .supplercontactdiv .two {
        left: 0 !important;
    }
    .close {
        opacity: 1 !important
    }
    div#DataTables_Table_0_length {
        text-align: left;
        margin-left: 8px;
    }
    .nav-bar {
        width: 100% !important;
        padding-top: 20px;
    }
    .login_page .top-links {
        text-align: unset !important;
        float: unset !important;
        width: auto !important;
        background: transparent !important;
    }
    div#DataTables_Table_0_filter {
        text-align: left;
    }
    .card-header {
        font-size: 15px;
        padding: 6px 14px;
    }
    a.page-link {
        background: black !important;
        color: #fff !important;
    }
    div#DataTables_Table_0_paginate {
        padding-bottom: 40px;
    }
    .well button,
    .well a.btn.btn-primary.btn-sm {
        width: 100%;
        float: left;
    }
    input.form-control.order_documents {
        width: 200px !important;
    }
    input.form-control.quote_attachments {
        width: 200px !important;
    }
    div#summary {
        font-size: 12px;
    }
    table.view_totals_table {
        width: 100%;
    }
    table.view_totals_table {
        margin-bottom: 20px;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin: 0 !important;
    }
    div#comments_data img {
        max-width: 40px;
    }
    #showHideModalLongnew .modal-dialog {
        max-width: 100% !important;
        margin-top: 0 !important;
    }
    .download_attach {
        margin-left: 10px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 1px 2px !important;
        font-size: 15px;
    }
    /*.custom-sidebar .custom-nav li a span {
        position: absolute;
        background: #000;
        padding: 10px;
        left: 60px;
        top: 0px;
        min-width: 190px;
        text-align: left;
        z-index: 100;
        display: none;
        font-size: 16px;
    }*/
    .import_info_model {
        max-width: 100%;
        margin: auto;
        border: 1px solid #ded9d9;
    }
    .m_media_query {
        margin-top: 165px !IMPORTANT;
    }
    a.toggle-btn.new_btn {
        display: block !important;
    }
    a.toggle-btn {
        display: none !important;
    }
    .sidebar-menu-collapsed a.toggle-btn.new_btn {
        height: 50px !important;
        width: 50px !important
    }
    .navbar.user-panel-top {
        padding: 5px 0px !important
    }
    tbody#tbl_certificate_attachments_body input {
        width: 140px !important;
    }
    .nav>li {
        position: relative;
        display: block !important;
        width: 100% !important;
    }
    .sidebar-menu-inner {
        height: auto !important;
    }
    .logo {
        margin-top: 50px;
        float: unset !important;
    }
    main.main-content {
        margin-top: 50px;
    }
    .custom-nav svg {
        display: unset !IMPORTANT;
        float: left;
        width: 19px !IMPORTANT;
        width: 14px !IMPORTANT;
        height: 22px;
        position: relative;
        left: -3px !Important;
        bottom: 2px !Important;
        margin: 0px !Important;
    }
}

@media (max-width: 850px) {
    .sidebar-menu-collapsed .toggle-btn {
        width: 50px;
        top: 0;
        height: 50px;
        line-height: 50px;
        padding: 0;
        background: var(--light-bg-color);
    }
}